<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ todo_detail.name }}</h1>
            <p>
                <a href="{% url 'todo_list_update' pk=todo_detail.pk %}">Edit</a>
            </p>
            <p>
                <a href="{% url 'todo_list_delete' pk=todo_detail.pk %}">Delete</a>
            </p>
            <h2>Tasks</h2>
            <table>
                <thead>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in todo_detail.items.all %}
                    <tr>
                        <td><a>{{ task.task }}</a></td>
                        <td>{{ task.due_date|date:'M d, Y'}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>