<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <div>
            <h1>Create a new item</h1>
            <form method="POST">
                {% csrf_token %}
                <p>
                    Task:<input type="text" name="task"></input>
                </p>
                <p>
                    Due Date:<input type="text" name="due_date">
                </p>
                <p>
                    Is completed?<input type="checkbox" name="is_completed">
                </p>
                <p>
                    List:<select name="list"></select>
                </p>
                <button type="submit">Create</button>
            </form>
        </div>
    </main>
</body>

</html>